@import "open-props/style";
@import "open-props/normalize";

html {
  --font-sans: "Inter", Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
}
:where(:not(:active):focus-visible) {
  outline-offset: unset;
}

:focus-visible {
  outline: 2px solid var(--orange-6);
}

@media (max-width: 768px) {
  body {
    padding-bottom: 50px;
  }
}
