---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container">
      <h1>Teletwitch</h1>
      <div class="subtext">Convert 3rd party Twitch emotes to Telegram stickers</div>
      <div class="emotes">
        <img src="https://cdn.7tv.app/emote/63c4072796a3360a4e25c54e/1x.webp" title="scrajj" />
        <img src="https://cdn.7tv.app/emote/62523dbbbab59cfd1b8b889d/1x.webp" />
        <img src="https://cdn.7tv.app/emote/618302fe8d50b5f26ee7b9bc/1x.webp" />
        <img src="https://cdn.7tv.app/emote/60b00d1f0d3a78a196f803e3/1x.webp" />
        <img src="https://cdn.7tv.app/emote/60abf171870d317bef23d399/1x.webp" />
        <img src="https://cdn.7tv.app/emote/6197e2aaeecae7a725bbffed/1x.webp" />
        <img src="https://cdn.7tv.app/emote/61413cbf7b14fdf700b8efb6/1x.webp" />
      </div>

      <a href="/sticker-set/new">Create a new sticker set</a>
    </div>
  </main>
</Layout>

<style>
  main {
    padding: var(--size-10);
    display: flex;
  }

  .subtext {
    color: var(--gray-5);
    font-size: var(--font-size-1);
  }

  .emotes {
    display: flex;
    gap: var(--size-4);
    margin-top: var(--size-2);
    margin-bottom: var(--size-4);
  }

  img {
    border-radius: var(--size-2);
  }

  a {
    font-size: var(--font-size-5);
  }
</style>
